<div class='editor-left'>
  <div class=''>
    <h4><%= _("Merge Articles") %></h4>
    <div class='class'>
      Article ID <%= text_field_tag 'merge_with'  %>
    </div>
    <%= submit_tag "Merge" %>
  </div>
</div>